# **Obtención y preparación de datos**

# OPD10. Selección en Series

In [3]:
import pandas as pd

Un aspecto relativamente complejo involucrado en el uso de las **series** y los **dataframes** -principalmente con esta última estructura- es la extracción o selección de datos. Esta relativa complejidad viene derivada principalmente de la abundancia de alternativas y de las excepciones a la norma que algunas de ellas aparentan ser.

## <font color='blue'>**Selección de datos en series**</font>

Una serie pandas consta de un array de datos y un array de etiquetas (el índice o index). Si al crear la serie no se ha especificado el índice, ya sabemos que se asignará uno implícito por defecto.

In [2]:
# Creamos una serie sin un índice explícito
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

Es posible seleccionar los valores haciendo referencia al índice asignado con la misma notación que en un diccionario (la llamada "notación corchetes" o "*square bracket notation*").

In [3]:
print(s[0])
print(s[2])

10
30

Usando esta sintaxis, si no se ha especificado un índice explícito, los índices negativos no están permitidos.

Si se asignan índices de forma explícita:

In [4]:
# Volvemos a crear la serie, esta vez con un índice explícito
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s

a    10
b    20
c    30
d    40
dtype: int64

Es posible seleccionar los elementos usando el índice explícito o el implícito:

In [5]:
print(s["a"], s[0])

10 10

/var/folders/fp/tnvxk4kn0f55py4tbj00vg5h0000gn/T/ipykernel_6576/4110927180.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s["a"], s[0])

In [6]:
print(s["d"], s[-1])

40 40

/var/folders/fp/tnvxk4kn0f55py4tbj00vg5h0000gn/T/ipykernel_6576/1188722146.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s["d"], s[-1])

Con esta sintaxis, sí está permitido hacer uso de índices negativos para referirnos a los elementos desde el final de la estructura.

Si los índices asignados son números enteros (al igual que las etiquetas del índice implícito), el índice implícito queda desactivado para seleccionar elementos individuales.

In [ ]:
s = pd.Series([10, 20, 30, 40], index = [3, 2, 1, 0])
s

In [ ]:
s[0]

en cuyo caso no es posible usar índices negativos.

In [ ]:
try:
  s[-1]
except:
  print("Error")

También es posible **seleccionar rangos de valores**. De esta forma, si usamos un rango numérico en una serie en la que hemos definido un índice explícito.

In [7]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s[1:3]

b    20
c    30
dtype: int64

Se puede observar que el rango se interpreta como haciendo referencia al índice implícito, y se incluyen los valores desde el primer índice incluido, hasta el último sin incluir.

Si no se incluye alguno de los límites, el comportamiento es el estándar en Python (si no se incluye el primer valor, se consideran todos los elementos desde el principio, y si no se incluye el último valor, se consideran todos los elementos hasta el final).

In [8]:
s[1:]

b    20
c    30
d    40
dtype: int64

In [9]:
s[:3]

a    10
b    20
c    30
dtype: int64

Para incluir los valores desde el primer índice hasta el último índice, ambos incluidos, se procede de la siguiente manera.

In [10]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s

a    10
b    20
c    30
d    40
dtype: int64

In [11]:
s[:"c"]

a    10
b    20
c    30
dtype: int64

In [12]:
s["b":]

b    20
c    30
d    40
dtype: int64

Una posible fuente de confusión viene derivada del hecho de que, usando rangos, es posible hacer referencia tanto a las etiquetas como a los índices numéricos. Si se utilizaron etiquetas, se debe hacer referencia a las etiquetas.

In [13]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s["b":"c"]

b    20
c    30
dtype: int64

Si utilizamos números, hacemos referencia a los índices numéricos.

In [14]:
s[1:3]

b    20
c    30
dtype: int64

¿Y qué ocurre si nuestras etiquetas son números? siempre que se usen rangos con números se estará haciendo referencia a los índices numéricos. No es posible hacer referencia a las etiquetas.

In [ ]:
s = pd.Series([10, 20, 30, 40], index = [3, 2, 1, 0])
s[1:3]

In [ ]:
s[1]

En el caso anterior, se devolvió el valor cuya etiqueta es 1 (si existe), o el valor cuya posición es 1 si dicha etiqueta no existe y el índice explícito no es numérico.

In [ ]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s[1]

### Los métodos `loc` e `iloc`
Es debido a esto que existen los métodos `loc` e `iloc`. Estos métodos hacen una referencia explícita a etiquetas o posiciones, respectivamente, eliminando cualquier duda al respecto de su interpretación.

Al igual que con los array NumPy, es posible seleccionar datos de una serie utilizando una **lista de valores**.

In [15]:
s[[3,1]]

/var/folders/fp/tnvxk4kn0f55py4tbj00vg5h0000gn/T/ipykernel_6576/2949314138.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[[3,1]]

d    40
b    20
dtype: int64

En este ejemplo, la lista contiene los números 3 y 1, y son los valores correspondientes a estos índices -y en el orden especificado- los devueltos por la instrucción.

El resultado devuelto sigue siendo una serie pandas.

In [16]:
type(s[[3,1]])

/var/folders/fp/tnvxk4kn0f55py4tbj00vg5h0000gn/T/ipykernel_6576/611858255.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  type(s[[3,1]])

pandas.core.series.Series

Con esta notación, en el caso de que la serie tenga un índice explícito numérico, los valores de la lista se interpretan como haciendo referencia al índice explícito.

También es posible usar el método `pandas.Series.get` para extraer un valor de forma segura.

In [17]:
s.get(2)

/var/folders/fp/tnvxk4kn0f55py4tbj00vg5h0000gn/T/ipykernel_6576/1480804646.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s.get(2)

np.int64(30)

Si la clave indicada no existe, la función devuelve *None* por defecto (es posible personalizar este valor con el parámetro `default`).

In [ ]:
s.get(7)

In [ ]:
s.get(7, default=0)

Las series pandas y los dataframes disponen de los versátiles métodos `loc` e `iloc`.

El método `pandas.Series.loc` permite __seleccionar un grupo de elementos por etiquetas__.

Como argumento de este método puede utilizarse una única etiqueta.

In [18]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s.loc["b"]

np.int64(20)

Tal como dijimos, `loc` buscará el argumento en las etiquetas explícitas, no en el índice implícito, aún cuando éste exista.

In [19]:
try:
    s.loc[0]
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

Mapping key not found.
KeyError

In [20]:
s = pd.Series([10, 20, 30, 40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [21]:
s.loc[0]

np.int64(10)

En este caso el argumento se interpreta siempre como etiqueta del índice, nunca como posición en dicho índice aun cuando se pase un número entero que no pertenece al conjunto de etiquetas y pueda representar una posición válida. Veamos a continuación si el índice explícito es numérico.

In [22]:
s = pd.Series([10, 20, 30, 40], index = [1, 2, 3, 4])
try:
    s.loc[0]
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

Mapping key not found.
KeyError

También podemos pasar al método una lista de etiquetas, en cuyo caso se extraen los valores correspondientes a dichas etiquetas y en el orden en el que se incluyen en la lista.

In [23]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s.loc[["d", "a"]]

d    40
a    10
dtype: int64

Otra opción es pasar al método un rango.

In [24]:
s["b":"d"]

b    20
c    30
d    40
dtype: int64

En este caso es importante recalcar que, tal y como se ve en la imagen anterior, el método va a devolver todos los elementos entre los límites indicados **ambos incluidos**.

El método `pandas.Series.iloc` __permite extraer datos de la serie a partir de los índices implícitos__ que éstos tienen asignados.

La opción más simple es utilizar como argumento un número entero (el primer elemento de la serie recibe el índice cero).

In [25]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s

a    10
b    20
c    30
d    40
dtype: int64

In [26]:
s.iloc[1]

np.int64(20)

In [ ]:
s.iloc[0]

`iloc` no funciona utilizando como argumento valores del índice explícito.

In [ ]:
try:
    s.iloc["a"]
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

In [ ]:
s.iloc[3]

Si el número es negativo, hace referencia al final de la serie (en este caso, el último elemento recibe el índice -1). Esto tanto si se ha especificado un índice explícito como si no.

In [ ]:
s.iloc[-1]

In [27]:
s.iloc[-4]

np.int64(10)

Una segunda opción es pasar como argumento una lista o array de números, en cuyo caso se devuelven los elementos que ocupan dichas posiciones en el orden indicado en la lista o array.

In [28]:
# Fijense el doble corchete. El par interior corresponde a una lista
s.iloc[[2, 0]]

c    30
a    10
dtype: int64

También podemos incluir en esta lista números negativos.

In [ ]:
s.iloc[[-2, 0]]

Atención con no incluir valores que no estén en el índice.

In [ ]:
try:
    s.iloc[2, 0, 5]
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

Una tercera opción es usar como argumento un rango de números.

In [29]:
s.iloc[1:3]

b    20
c    30
dtype: int64

Si el rango tiene la forma $a:b$, se incluyen todos los elementos desde aquel cuyo índice es $a$ (incluido) hasta el que tiene el índice $b$ (sin incluir).

Si no se especifica el primer valor, se consideran todos los elementos desde el principio de la serie.

In [ ]:
s.iloc[:3]

Y, si no se especifica el segundo valor, se consideran todos los elementos hasta el final de la serie.

In [ ]:
s.iloc[2:]

También pueden usarse valores negativos para indicar el comienzo y/o el final del rango.

In [ ]:
s.iloc[1:-1]

Otra opción para seleccionar elementos de una serie pandas es **usar arrays booleanos**.

In [30]:
s = pd.Series([5, 2, -3, 7, 8, 4])
s

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64

Podemos seleccionar un conjunto de valores de la misma haciendo referencia al nombre de la serie y, entre los corchetes, una lista o array de booleanos.

In [32]:
s[[True, False, False, True, True, False]]

0    5
3    7
4    8
dtype: int64

En este caso hemos seleccionado los elementos cuyos índices son 0, 3 y 4, que son los índices que ocupan los booleanos `True` en la lista de booleanos usada (lista cuya longitud deberá ser igual a la longitud de la serie pues, de no ser así, se devuelve un error).

Esta lista o array de booleanos no tiene por qué ser especificada de forma explícita, puede ser el resultado de una expresión.

In [33]:
s = pd.Series([5, 2, -3, 7, 8, 4])
s

0    5
1    2
2   -3
3    7
4    8
5    4
dtype: int64

Aquí, hemos usado la expresión $s > 2$ para generar una serie pandas de booleanos, serie en la que los valores toman el valor `True` cuando el valor con el mismo índice de $s$ toma un valor mayor estricto que 2.

Podemos entonces usar este resultado para extraer valores de la serie $s$.

In [34]:
print(type(s > 2))
s > 2

<class 'pandas.core.series.Series'>

0     True
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [35]:
s[s>2]

0    5
3    7
4    8
5    4
dtype: int64

Este mismo enfoque puede ser usado con los métodos `pandas.Series.loc` y `pandas.Series.iloc` ya vistos en las secciones anteriores con algún matiz adicional.

El método loc puede ser usado tanto con un array explícito de booleanos:

In [36]:
s.loc[[True, False, False, True, True, True]]

0    5
3    7
4    8
5    4
dtype: int64

o como con una expresión que genera, por ejemplo, una serie pandas de booleanos:

In [37]:
s.loc[s>2]

0    5
3    7
4    8
5    4
dtype: int64

Sin embargo, el método `iloc` tiene un comportamiento ligeramente diferente. Puede ser usado con arrays explícitos de booleanos:

In [39]:
s.iloc[[True, False, False, True, True, True]]

0    5
3    7
4    8
5    4
dtype: int64

Pero el uso de expresiones que generen una serie pandas de booleanos devuelve un error:

In [40]:
# Esta operación genera una serie
print(type(s>2))
s>2

<class 'pandas.core.series.Series'>

0     True
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [41]:
try:
    s.iloc[s>2]
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

Method or function hasn't been implemented yet.
NotImplementedError

Si el objeto que está generando la estructura de booleanos ($s$, en $s > 2$) fuese un array NumPy en lugar de tratarse de una serie pandas, sí sería posible usar el método .iloc. De esta forma, la expresión $s > 2$ genera, como hemos visto, una serie pandas, pero podemos extraer los valores con el atributo values, que genera un array numpy.

In [42]:
type((s>2).values)

numpy.ndarray

In [43]:
(s>2).values

array([ True, False, False,  True,  True,  True])

Si usamos esta expresión para realizar la selección en la serie original $s$, el resultado es ahora el correcto.

In [44]:
s.iloc[(s>2).values]

0    5
3    7
4    8
5    4
dtype: int64

Misma cosa ocurre si convertimos la serie en una lista.

In [45]:
s.iloc[list((s>2))]

0    5
3    7
4    8
5    4
dtype: int64

**Es por ello que pandas recomienda usar el método loc cuando trabajemos con selección basada en booleanos.**

También podemos realizar una selección aleatoria a partir de una serie. El método `pandas.Series.sample` permite especificar o bien el número de elementos a extraer o bien la fracción del número total de elementos a extraer (parámetros `n` y `frac`, respectivamente), pudiendo especificar si la extracción se realiza con reemplazo o no (parámetro `replace`), los pesos a aplicar a cada elemento para realizar una extracción aleatoria ponderada (parámetro `weights`, y una semilla para el generador de números aleatorios que asegure la reproducibilidad de la extracción (parámetro `random_state`).

In [4]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s

a    10
b    20
c    30
d    40
dtype: int64

In [5]:
s.sample(3, random_state = 18)

d    40
b    20
a    10
dtype: int64

In [6]:
s.sample(frac = 0.6, random_state = 18)

d    40
b    20
dtype: int64

Si no hay reemplazo, el número máximo de elementos que podemos extraer coincide con la longitud de la serie. Pero si la extracción la realizamos con reemplazo, podemos especificar cualquier número de elementos.

In [7]:
s.sample(10, random_state = 18, replace = True)

c    30
d    40
a    10
b    20
c    30
b    20
c    30
c    30
c    30
a    10
dtype: int64

El método `pandas.Series.pop` extrae y elimina un elemento de una serie cuyo índice se indica como argumento.

In [8]:
s = pd.Series([1, 2, 3, 4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [9]:
s.pop(1)

np.int64(2)

In [ ]:
s

Devuelve un error en caso de que no exista.

In [10]:
s = pd.Series([1, 2, 3, 4])

try:
    s.pop(18)
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

Mapping key not found.
KeyError

Si la serie tiene un índice explícito, el argumento de `pop` hará referencia a este índice.

In [ ]:
s = pd.Series([10, 20, 30, 40], index = ["a", "b", "c", "d"])
s.pop("a")

In [ ]:
s

Y para el índice no explícito, devolverá un error.

In [ ]:
try:
  s.pop(0)
except Exception as e:
    print(e.__doc__)
    print(type(e).__name__)

### <font color='green'>Actividad 1</font>

Escribir una función que reciba un diccionario con las alturas (en metros) de los integrantes del grupo y devuelva una serie con las alturas mayores a 1.75 ordenadas de mayor a menor.

In [21]:
def filtrar_alturas(diccionario_alturas):
    # Convertir el diccionario en una Serie de Pandas
    serie_alturas = pd.Series(diccionario_alturas)
    
    # Filtrar alturas mayores a 1.75 metros
    alturas_filtradas = serie_alturas[serie_alturas > 1.75]
    
    # Ordenar las alturas de mayor a menor
    alturas_ordenadas = alturas_filtradas.sort_values(ascending=False)
    
    return alturas_ordenadas

alturas = {
    "Juan": 1.80,
    "Ana": 1.70,
    "Pedro": 1.90,
    "Lucía": 1.85,
    "Carlos": 1.60
}

resultado = filtrar_alturas(alturas)
print(resultado)

Juan     1.80
Lucía    1.85
Pedro    1.90
dtype: float64

<font color='green'>Fin Actividad 1</font>

### <font color='green'>Actividad 2</font>

Dada la siguiente serie:

```
s1 = pd.Series([10, 15, 20, 25, 30], index=[2, 5, 8, 9, 12])
```
Selecciona los elementos con índices 5 y 9.

In [19]:
s1= pd.Series([10, 15, 20, 25, 30], index=[2, 5, 8, 9, 12])
print(s1.loc[5])
print(s1.loc[9])

15
25

<font color='green'>Fin Actividad 2</font>

### <font color='green'>Actividad 3</font>

Dada la siguiente serie:

```
s2 = pd.Series([1, 2, 3, 4, 5], index=['a-1', 'b-2', 'c-3', 'a-4', 'b-5'])
```
Selecciona aquellos valores cuyos índices comienzan con 'a-'.

In [22]:
s2 = pd.Series([1, 2, 3, 4, 5], index=['a-1', 'b-2', 'c-3', 'a-4', 'b-5'])

# Filtrar los valores cuyos índices comienzan con 'a-'
resultado = s2[s2.index.str.startswith('a-')]

print(resultado)

a-1    1
a-4    4
dtype: int64

<font color='green'>Fin Actividad 3</font>

### <font color='green'>Actividad 4</font>

Dada la siguiente serie:

```
s3 = pd.Series(list(range(20)), index=list(range(20, 0, -1)))
```
Selecciona aquellos valores que sean pares y cuyos índices sean impares.

In [26]:
s3 = pd.Series(list(range(20)), index = list(range(20, 0, -1)))

# Filtrar valores cuyos índices sean impares
resultado = s3[(s3.index % 2 != 0)]

print(resultado)

19     1
17     3
15     5
13     7
11     9
9     11
7     13
5     15
3     17
1     19
dtype: int64

<font color='green'>Fin Actividad 4</font>

### <font color='green'>Actividad 5</font>

Dada la siguiente serie:

```
s4 = pd.Series(list(range(10, 101, 10)))
```
Utilizando una función, selecciona aquellos números que son divisibles por 3.

In [30]:
def divisibles(s):
    divisibles  = s[s%3 ==0]
    return divisibles
s4 = pd.Series(list(range(10, 101, 10)))
print(divisibles(s4))

2    30
5    60
8    90
dtype: int64

<font color='green'>Fin Actividad 5</font>

### <font color='green'>Actividad 6</font>

Dada la siguiente serie:

```
s5 = pd.Series([10, 23, 30, 33, 45, 52, 68, 77, 81, 97])
```
Selecciona todos los valores que sean primos o múltiplos de 7. Posteriormente, reasigna esos valores seleccionados al cuadrado de su valor original.

<font color='green'>Fin Actividad 6</font>

<img src="https://drive.google.com/uc?export=view&id=1Igtn9UXg6NGeRWsqh4hefQUjV0hmzlBv" width="100" align="left" title="Runa-perth">
<br clear="left">


##<font color='red'>**Actividad Avanzada**</font>

### <font color='green'>Actividad 7</font>

Imagina que estás trabajando con una serie de datos financieros, donde cada índice representa una fecha específica y cada valor representa el precio de cierre de una acción en esa fecha. Las fechas no están en orden y algunas de ellas son particularmente importantes para ti debido a eventos externos.

En esta actividad deberás seleccionar precios de cierre en fechas específicas, y para ello deberás combinar el uso de loc, iloc y expresiones.

```
dates = [datetime.date(2023, 5, 15), datetime.date(2023, 1, 10), datetime.date(2023, 3, 23),
         datetime.date(2023, 2, 15), datetime.date(2023, 8, 30), datetime.date(2023, 4, 5)]

prices = [120.5, 115.2, 112.8, 116.5, 127.4, 119.0]

data = pd.Series(prices, index=dates)
```

1. Ordena la serie según sus índices de fecha.
2. Utiliza iloc para seleccionar el precio de cierre de la segunda fecha más reciente en la serie ordenada.
3. Iimagina que sabes que hubo un evento importante el 15 de febrero de 2023 y quieres saber cómo afectó el precio posteriormente. Utiliza loc para seleccionar todos los precios desde esa fecha en adelante.
4. Utilizando una combinación de expresiones, selecciona los precios que estén por encima del precio medio pero solo para fechas anteriores al 1 de abril de 2023.

In [45]:
import datetime
dates = [datetime.date(2023, 5, 15), datetime.date(2023, 1, 10), datetime.date(2023, 3, 23),
         datetime.date(2023, 2, 15), datetime.date(2023, 8, 30), datetime.date(2023, 4, 5)]

prices = [120.5, 115.2, 112.8, 116.5, 127.4, 119.0]

data = pd.Series(prices, index=dates)
data_sorted = data.sort_index()
print(data_sorted)
print("Segunda fecha más reciente: ",data_sorted.iloc[-2])

#fecha evento importante
event_date = datetime.date(2023, 2, 15)
prices_after_event = data_sorted.loc[event_date:]

print(prices_after_event)

2023-01-10    115.2
2023-02-15    116.5
2023-03-23    112.8
2023-04-05    119.0
2023-05-15    120.5
2023-08-30    127.4
dtype: float64
Segunda fecha más reciente:  120.5
2023-02-15    116.5
2023-03-23    112.8
2023-04-05    119.0
2023-05-15    120.5
2023-08-30    127.4
dtype: float64

<font color='green'>Fin Actividad 7</font>

<img src="https://drive.google.com/uc?export=view&id=1Igtn9UXg6NGeRWsqh4hefQUjV0hmzlBv" width="50" align="left" title="Runa-perth">
<br clear="left">