# **Obtención y preparación de datos**

# OPD13. Unión de Estructuras en Pandas

In [2]:
import numpy as np
import pandas as pd

## <font color='blue'>**Unión de series**</font>


Muchas veces nos encontramos con que los datos a analizar están repartidos entre dos o más bloques de datos, lo que nos obliga a unirlos.

## <font color='blue'>**Función `concat`**</font>

Un caso con el que nos encontramos con relativa frecuencia es aquel en el que queremos unir una serie a otra.

In [4]:
s = pd.Series([1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e"])
r = pd.Series([10, 11, 12], index = ["f", "g", "h"])

Si deseamos unir $r$ y $s$ en una nueva serie, podemos usar la función `pandas.concat`. Esta función permite especificar el eje a lo largo del cual unir los diferentes objetos (pueden ser series o dataframes). Por defecto, la concatenación se realiza a lo largo del eje 0.

In [ ]:
t = pd.concat([s, r])
print(type(t))
print()
t

El resultado es una serie.

In [ ]:
a = pd.Series([1, 2, 3, 4, 5, 6])
b = pd.Series([10, 11, 12, 13, 14])
print(a)
print()
print(b)

In [ ]:
s = pd.concat([a,b])
s

In [ ]:
s[s.index[0]]

Si especificamos como eje de concatenación el eje 1, pandas alineará los valores con idénticas etiquetas. En el siguiente ejemplo, las series $a$ y $b$ tienen algunas etiquetas comunes (y otras no). El resultado incluye todas las etiquetas asignando el valor `NaN` ("Not a Number") a aquellos valores desconocidos.

In [ ]:
pd.concat([a,b], axis = 1)

In [ ]:
type(pd.concat([a,b], axis = 1))

Como puede observarse, el resultado es un dataframe.

Por otro lado, las etiquetas del índice no tienen por qué ser diferentes, de forma que si se estuviesen concatenando series con etiquetas comunes en sus índices, el resultado sería equivalente a los vistos hasta ahora.

In [ ]:
s = pd.Series([1, 2, 3, 4], index = ["a", "b", "c", "d"])
r = pd.Series([10, 11, 12], index = ["a", "c", "e"])
print(s)
print( )
print(r)

In [ ]:
pd.concat([s, r])

En este ejemplo se han concatenado dos series que tienen dos etiquetas comunes ($a$ y $c$), y se puede observar que las dos apariciones de cada una de ellas se incluyen en el resultado de la concatenación.

## <font color='blue'>**Método `append`**</font>

Otra alternativa es usar el método `pandas.Series.append`, versión simplificada de la función `concat` ya vista que devuelve la unión de la serie sobre la que se aplica con otra (u otras) series, pero solo a lo largo del eje 0.

In [ ]:
a = pd.Series([1, 2, 3, 4, 5], index = ["a", "b", "c", "d", "e"])
b = pd.Series([10, 11, 12], index = ["f", "g", "h"])
print(a)
print()
print(b)

In [ ]:
c = a.append(b)
c

Si el argumento `ignore_index` toma el valor `True`, se ignoran las etiquetas de las series.

In [ ]:
c = a.append(b, ignore_index = True)
c

## <font color='blue'>**Concatenación y unión de dataframes**</font>

Ésta es otra de las áreas en las que la variedad de opciones puede resultar confusa. A modo de resumen, digamos que pandas ofrece dos principales funciones con este objetivo: `pandas.concat` y `pandas.merge`.

* La función `concat` permite concatenar dataframes a lo largo de un determinado eje
* La función `merge` permite realizar uniones (joins) entre dataframes tal y como se realizan en bases de datos. Esta función también está disponible como método: `pandas.DataFrame.merge`

Hay una tercera función que está disponible solo como método: `pandas.DataFrame.append`. El método `append` ofrece una funcionalidad semejante a la de la función concat pero reducida. Así, por ejemplo, solo permite realizar concatenaciones a lo largo del eje 0 (es decir, verticalmente).

## <font color='blue'>**Función `concat`**</font>

La función `pandas.concat` es la responsable de concatenar dos o más dataframes (y de todas las estructuras provistas por pandas) a lo largo de un eje, con soporte a lógica de conjuntos a la hora de gestionar etiquetas en ejes no coincidentes.

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape([3, 3]),
                   index = ["a", "b", "d"],
                   columns = ["A", "B", "C"])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape([4, 3]),
                   index = ["a", "b", "c", "e"],
                   columns = ["B", "C", "D"])
df2

Si pasamos a la función `concat` ambos dataframes como primer argumento (en forma de lista), obtenemos el siguiente resultado:

In [ ]:
pd.concat([df1, df2])

Por defecto, la concatenación se ha realizado a lo largo del eje 0 (eje vertical), uniendo los índices de fila de ambos dataframes, y alineando las columnas por su etiqueta. Los valores para los que no hay datos se han rellenado con NaN.

Si especificamos que la concatenación se realice a lo largo del eje 1 (eje horizontal), el resultado es el siguiente:

In [ ]:
pd.concat([df1, df2], axis = 1)

De modo semejante al primer ejemplo, se han introducido NaN's donde no había datos, y se han alineado las filas por su etiqueta.

Estos dos ejemplos vistos son tipo `"outer"` (opción por defecto), considerando todas las etiquetas de los dos dataframes aun cuando no sean comunes a ambos. Pero si especificamos el argumento `join = "inner"`, los resultados pasan a considerar solo las etiquetas comunes.

In [ ]:
pd.concat([df1, df2], join = "inner")

Incluye solo las columnas $B$ y $C$ comunes a ambos dataframes. Y para el segundo ejemplo tenemos:

In [ ]:
pd.concat([df1, df2], axis = 1, join = "inner")

Incluyendo solo las filas $a$ y $b$ comunes a ambos dataframes.

El parámetro `ignore_index` controla el índice a asignar al eje a lo largo del cuál se realiza la concatenación. Si este parámetro toma el valor `False` (por defecto), el eje de concatenación mantiene las etiquetas de los dataframes originales. Si toma el valor `True`, se ignoran dichas etiquetas y el resultado de la concatenación recibe un nuevo índice automático numérico.

In [ ]:
pd.concat([df1, df2], axis = 1, join = "inner", ignore_index = False)

In [ ]:
pd.concat([df1, df2], axis = 1, join = "inner", ignore_index = True)

## <font color='blue'>**Método `append`**</font>

El método `pandas.DataFrame.append` es un atajo de la función `concat` que ofrece funcionalidad semejante pero limitada: no permite especificar el eje de concatenación (siempre es el eje 0) ni el tipo de "join" (siempre es tipo "Outer").

In [ ]:
df1 = pd.DataFrame(np.arange(9).reshape([3, 3]),
                   index = ["a", "b", "d"],
                   columns = ["A", "B", "C"])
df1

In [ ]:
df2 = pd.DataFrame(np.arange(12).reshape([4, 3]),
                   index = ["a", "b", "c", "e"],
                   columns = ["B", "C", "D"])
df2

In [ ]:
df1.append(df2)

Al igual que ocurría con la función `concat`, el parámetro `ignore_index` nos permite controlar las etiquetas que recibe el índice del resultado: las de los dataframes originales (con`ignore_index = False`, opción por defecto), o uno nuevo automático (con `ignore_index = True`).

## <font color='blue'>**Función `merge`**</font>

La función `pandas.merge` nos permite realizar "joins" entre tablas. El join es realizado sobre las columnas o sobre las filas. En el primer caso, las etiquetas de las filas son ignoradas. En cualquier otro caso (joins realizado entre etiquetas de filas, o entre etiquetas de filas y de columnas), las etiquetas de filas se mantienen.

In [1]:
df1 = pd.DataFrame({
    "Mes": ["ene", "feb", "mar", "may"],
    "Ventas": [14, 8, 12, 17]
})
df1

NameError: name 'pd' is not defined

In [ ]:
df2 = pd.DataFrame({
    "Mes": ["feb", "ene", "mar", "abr"],
    "Costos": [7, 6, 8, 5]
})
df2

Ambos dataframes tienen una columna común ("Mes") y varias filas comunes ("ene", "feb" y "mar"). Obsérvese que en df2 las filas no están ordenadas y que, en df1, el mes de enero tiene índice 0 mientras que, en df2, el mes de enero tiene índice 1.

Si aplicamos la función merge a estos dataframes con los valores por defecto, obtenemos el siguiente resultado.

In [ ]:
pd.merge(df1, df2)

Esos valores por defecto suponen que el join se realiza sobre las columnas comunes y tipo "inner" (considerando solo las filas con etiquetas comunes).

Si especificamos que el join sea de tipo "outer", lo que definimos con el parámetro `how`, el resultado considerará todas las etiquetas presentes en ambos dataframes.

In [ ]:
pd.merge(df1, df2, how = "outer")

Se rellena con `NaN` los valores inexistentes. Otras opciones para el parámetro how son "left" y "right" (además de la opción por defecto, "outer").

Por defecto, el join se realiza entre las columnas comunes. Esto es, sin embargo, controlable usando el parámetro `on` y especificando la columna o columnas a usar.

In [ ]:
df1 = pd.DataFrame({
    "Mes": ["ene", "ene", "feb", "feb"],
    "Producto": ["A", "B", "A", "B"],
    "Ventas": [14, 8, 12, 17]
})
df1

In [ ]:
df2 = pd.DataFrame({
    "Mes": ["ene", "ene", "feb", "feb"],
    "Producto": ["A", "B", "A", "B"],
    "Costo": [7, 6, 8, 5]
})
df2

Hay dos columnas comunes, lo que supone que el resultado de un merge por defecto sería el siguiente:

In [ ]:
pd.merge(df1, df2)

Es decir, para cada combinación de Mes-Producto se añadirían los valores de los campos de ventas y costo. Si se quiere que el join se realice solo por uno de los campos, Producto, por ejemplo, bastaría con especificarlo con el parámetro `on`.

In [ ]:
pd.merge(df1, df2, on = "Producto")

Además del campo utilizado para realizar el join ("Producto"), al existir un campo común a ambos dataframes ("Mes") que no se desea usar para el join, pandas añade un sufijo (configurable) a este campo en ambas tablas para poder diferenciarlo.

También podría ocurrir que ambos dataframes no tuviesen columnas comunes (columnas con el mismo nombre) pero que, aun así, quisiéramos realizar el join por algunas de ellas. Por ejemplo:

In [ ]:
df1 = pd.DataFrame({
    "Mes": ["ene", "feb", "mar", "may"],
    "Ventas": [14, 8, 12, 17]
})
df1

In [ ]:
df2 = pd.DataFrame({
    "NombreMes": ["feb", "ene", "mar", "abr"],
    "Costos": [7, 6, 8, 5]
})
df2

Al no haber columnas comunes, la ejecución de la función merge devolvería un error. En este caso podemos usar los parámetros `left_on` y `right_on` para especificar el campo a usar en la tabla de la izquierda del join y en la de la derecha, respectivamente.

In [ ]:
pd.merge(df1, df2, left_on = "Mes", right_on = "NombreMes")

## <font color='blue'>**Join por filas**</font>

Si queremos que el join considere las filas -y no las columnas- de alguno de los dataframes para realizar el join, podemos usar los parámetros `left_index` y `right_index`.

In [ ]:
df1 = pd.DataFrame({
    "Mes": ["ene", "feb", "mar", "may"],
    "Ventas": [14, 8, 12, 17]
})
df1

In [ ]:
df2 = pd.DataFrame({
    "Compras": [5, 9, 11, 2, 6]},
    index = ["ene", "feb", "mar", "abr", "may"]
)
df2

La ejecución de la función `merge` no sería posible -devolvería un error- pues no hay columnas columnes. En este caso querríamos que para el dataframe df1 se considerase la columna "Mes" -usando el parámetro `left_on` - y para el dataframe df2 el índice -usando el parámetro `right_index`-, de la siguiente forma:

In [ ]:
pd.merge(df1, df2, left_on = "Mes", right_index = True)

## <font color='green'>Actividad 1</font>

En el siguiente dataframe se guardan los datos personales de un grupo de clientes:

```
clientes = {'nombre' : ['Orlando' ,'Inés' ,'Michelle', 'Alberto', 'Esteban'],
           'apellido' : ['Figueroa' ,'Benítez' ,'Gómez', 'Riesco', 'Martínez'],
           'edad' : [30 ,21 ,29 ,22, 24]}
clientes = pd.DataFrame(clientes, columns = ['nombre', 'apellido', 'edad'])
```
En el siguiente se incluyen las transacciones:



```
facturas = {'factura_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
            'cliente_id' : [3, 2, 7, 2, 7, 3, 1, 4 ,2, 3, 6, 2],
            'cantidad': [77.91, 24.36, 74.65, 19.75, 27.46, 17.13, 45.77, 81.7, 14.41, 52.69, 32.03, 12.78]}
facturas = pd.DataFrame(facturas, columns = ['factura_id', 'cliente_id', 'cantidad'])
```

Considere el dataframe llamado nuevos_clientes:



```
nuevos_clientes = pd.DataFrame({'nombre' : ['Rebeca'],
                            'apellido' : ['Rojas'],
                            'edad' : [21]},
                           columns = ['nombre', 'apellido', 'edad'])
```

1. Agregar los nuevos clientes al dataframe *clientes*.
2. Actualice los valores para los índices del dataframe *clientes*.
3. Genere un dataframe llamado *cliente_id* y agréguelo como una columna nueva a *clientes*.
4. Realice la unión de los dataframes *clientes* y *facturas* de manera que el resultado sean todos los registros almacenados.
5. Agregue al dataframe *nuevos clientes* a todos los integrantes del grupo, repita el proceso y haga el join entre clientes y facturas pero su resultado debe contener solo las filas con etiquetas comunes.

In [ ]:
# Tu código aquí ...

<font color='green'>Fin Actividad 1</font>

### <font color='green'>Actividad 2</font>

Se tiene un DataFrame que contiene información de empleados y otro que tiene información sobre los departamentos de una empresa. El objetivo es combinar ambos DataFrames para obtener una visión completa del estado actual de la empresa.

```
# Información de empleados
employees = pd.DataFrame({
    'employee_id': range(1, 11),
    'name': ['Anna', 'Ben', 'Charlie', 'Diana', 'Eva', 'Frank', 'Grace', 'Hank', 'Ian', 'Jen'],
    'department_id': [1, 2, 3, 1, 2, 4, 3, 1, 4, 2]
})

# Información de departamentos
departments = pd.DataFrame({
    'department_id': [1, 2, 3, 4],
    'department_name': ['HR', 'Sales', 'Tech', 'Admin']
})
```

1. Realiza una unión left de employees con departments utilizando employee_id y department_id como claves.
2. Identifica cualquier empleado que no esté asignado a un departamento registrado y almacénalo en un nuevo DataFrame.
3. Agrega una nueva columna al DataFrame resultante que concatene el nombre del empleado y el nombre del departamento.

In [ ]:
# Tu código aquí ...

<font color='green'>Fin Actividad 2</font>

### <font color='green'>Actividad 3</font>

Una empresa con múltiples tiendas registra las ventas diarias en DataFrames separados. Los registros de algunas tiendas se han retrasado, y tu objetivo es combinar estos registros de ventas y llenar los datos faltantes de las tiendas retrasadas.

```
dates = pd.date_range('20230101', '20230110')

# Ventas de la tienda A
sales_A = pd.DataFrame({
    'date': dates,
    'sales_A': np.random.randint(50, 200, len(dates))
})

# Ventas de la tienda B (notar que faltan algunos días)
sales_B = pd.DataFrame({
    'date': dates[[0,1,2,5,6,7,9]],
    'sales_B': np.random.randint(50, 200, 7)
})
```

1. Fusiona los DataFrames sales_A y sales_B usando la columna date como clave. Asegúrate de que todos los días estén presentes en el DataFrame resultante.
2. Rellena los valores faltantes de sales_B utilizando una estrategia que consideres adecuada (p.ej., media, mediana, interpolación, etc.).
3. Crea una columna adicional en el DataFrame fusionado que represente la venta total diaria (suma de ambas tiendas).

In [ ]:
# Tu código aquí ...

<font color='green'>Fin Actividad 3</font>

### <font color='green'>Actividad 4</font>

Tienes tres DataFrames: df1, df2 y df3. Cada DataFrame tiene una columna 'ID', una columna 'Valor' y una columna 'Categoría'.

```
# df1, df2 y df3
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 6, 7, 10],
    'Valor': [100, 200, 300, 350, 400, 450],
    'Categoria': ['A', 'B', 'A', 'C', 'B', 'A']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4, 6, 8, 9],
    'Valor': [220, 330, 440, 355, 465, 575],
    'Categoria': ['B', 'A', 'C', 'C', 'A', 'B']
})

df3 = pd.DataFrame({
    'ID': [3, 4, 5, 7, 8, 10],
    'Valor': [350, 470, 590, 410, 480, 460],
    'Estado': ['Activo', 'Inactivo', 'Activo', 'Activo', 'Inactivo', 'Activo']
})
```

Si un 'ID' está presente en más de un DataFrame, deseas unir sus valores en función de la siguiente lógica:
* Si un ID está en df1 y df2 (pero no en df3), toma el promedio de 'Valor'.

* Si un ID está en df1 y df3 (pero no en df2), suma los 'Valores'.
Si un ID está en df2 y df3 (pero no en df1), resta el 'Valor' en df3 del 'Valor' en df2.
* Si un ID está en los tres DataFrames, multiplica los tres 'Valores' juntos.

Además, si el ID coincide entre df1 y df2, combine la 'Categoria' de ambos DataFrames en una nueva columna, y si el ID coincide entre df1 y df3, añada la columna 'Estado' de df3 al DataFrame resultante.

In [ ]:
# Tu código aquí ...

<font color='green'>Fin Actividad 4</font>

### <font color='green'>Actividad 5</font>

Dado un DataFrame df_main con un MultiIndex (dos niveles: 'Key1' y 'Key2') y un df_ref con el mismo MultiIndex:

```
arrays = [
    ['A', 'A', 'B', 'B', 'C', 'C'],
    [1, 2, 1, 2, 1, 2]
]

index_main = pd.MultiIndex.from_arrays(arrays, names=('Key1', 'Key2'))

df_main = pd.DataFrame({
    'Valor': [10, 20, 30, 40, 50, 60],
    'Descripción': ['Alpha', 'Bravo', 'Charlie', 'Delta', 'Echo', 'Foxtrot']
}, index=index_main)

index_ref = pd.MultiIndex.from_arrays([
    ['A', 'B', 'B', 'C', 'C', 'D', 'D'],
    [1, 1, 2, 1, 2, 1, 2]
], names=('Key1', 'Key2'))

df_ref = pd.DataFrame({
    'Referencia': [100, 200, 300, 400, 500, 600, 700],
    'Comentario': ['Uno', 'Dos', 'Tres', 'Cuatro', 'Cinco', 'Seis', 'Siete']
}, index=index_ref)
```

1. Fusiona estos DataFrames en uno solo.

2. En lugar de una fusión estándar, para aquellos niveles de MultiIndex donde los valores no coinciden entre df_main y df_ref, llenar esos valores con el valor anterior o posterior más cercano.

3. Añade una nueva columna que combine las columnas 'Descripción' y 'Comentario' para las claves que coinciden.

In [ ]:
# Tu código aquí ...

<font color='green'>Fin Actividad 5</font>

### <font color='green'>Actividad 6</font>

Tienes dos DataFrames: df_prices y df_weights. df_prices tiene columnas 'Date', 'ID', 'Price' y 'Moneda'. df_weights tiene columnas 'Date', 'ID', 'Weight' y 'Status'.

```
df_prices = pd.DataFrame({
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05', '2023-01-06']),
    'ID': ['X', 'Y', 'X', 'Z', 'Y', 'Z'],
    'Price': [50, 60, 55, 70, 65, 75],
    'Moneda': ['USD', 'USD', 'EUR', 'USD', 'EUR', 'USD']
})

df_weights = pd.DataFrame({
    'Date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-05']),
    'ID': ['X', 'Y', 'Z', 'Y'],
    'Weight': [0.5, 0.3, 0.2, 0.4],
    'Status': ['Activo', 'Inactivo', 'Activo', 'Activo']
})
```

1. Calcula el precio promedio ponderado de cada 'ID' en función de los 'Weights' para las fechas coincidentes.

2. Si una fecha en df_prices no tiene una fecha coincidente en df_weights, utiliza el 'Weight' más reciente disponible.

3. Para los 'ID' que tengan el 'Status' de "Activo" en df_weights, convierte su 'Price' a EUR si su 'Moneda' es USD (puedes usar un factor de conversión ficticio).

<font color='green'>Fin Actividad 6</font>